.contact_us {
	width: 100%;
	min-width:630px;
	overflow: hidden;

}

.contactTitle{
	border-bottom: 3px solid #003366;
	margin-bottom: 30px;
}

.contactTitle h2 {    
    color: #880000;
    font: bold 28px Arial;
	font-family: Georgia,"Times New Roman",Times,serif;
	width: 100%;
	overflow: hidden;
	min-width:630px;
	margin-top: 0;
	margin-bottom: 0;
	display: inline;
}

.contactTitle a {    
	float: right;
	margin-right: 20px;
	background: url("../img/iconSetup.gif") no-repeat scroll left transparent;
	padding-left: 14px;
	color: #666666;
    text-decoration: none;
    white-space: nowrap;
	margin-top: 13px;
}


#terms .termsTitle, .termsTitle{
    font-size: 16px;
    line-height: 1.2em;
    margin-bottom: 0.5em;
	color: #444444;
	margin-bottom: 10px;
}

#terms{
	width: 100%;
	min-width:630px;
	overflow: hidden;
	margin-bottom: 30px;
}

#terms-main p{
	font-size: 11px;
	margin-bottom: 6px;
}

#agree_check{
	color: #666666;
	margin:10px 0 0 0;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 13px;
}

#agree_check span{
	padding-left: 8px;
	vertical-align: top;
}

#contact_form {
	margin: 20px 0 0 0;
}

.formTitle{
	border-bottom: 1px solid #E6E6E6;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
    font-family: Arial,Helvetica,sans-serif;
	margin: 0 0 15px;
	width: 100%;
	min-width:630px;
}

#contact_form .text-required img {
    padding-right: 7px;
}

#formComponents .labelcol label, img{
	font-weight: bold;
	font-size: 11px;
	margin: 0;
	color: #333333;
	vertical-align: middle;
}

#formComponents .labelcol {
    font-weight: bold;
    letter-spacing: 0.02em;
    width: 70px;
	vertical-align: top;
}

#formComponents .inputcol {
	vertical-align: top;
	padding-bottom: 10px;
}

table {
    border-collapse: collapse;
	margin-bottom: 5px;
}

#comment_field .labelcol {
    color: #333333;
    font-weight: bold;
    letter-spacing: 0.02em;
	font-size: 11px;
}

#content_area {
	width: 100%;
	min-width:630px;
}

#content_area1 {
	width: 100%;
	min-width:630px;
}

#content_area2{
	vertical-align: top;
	font-size: 11px;
	padding-left: 20px;
}

#content_area2 .site_cont_title{
	color: #7FA5C8;
	font-weight: bold;
}

#formComponents p{
	font-size: 11px;
	color: #666666;
	display: none;
}

.inputcol li {
	list-style-type:none;
	display:inline;
	vertical-align: top;
	margin-right: 5px;
}

.inputcol ul {
	padding-left: 0;
	padding-top:0;
	padding-bottom:0;
	margin-top:0;
	margin-bottom:0px;
	margin-left:0;
}

.inputcol li label {
	vertical-align: baseline;
	font-size: 12px;
}

.extraVarsList  td .date { border:1px solid; border-color:#a6a6a6 #d8d8d8 #d8d8d8 #a6a6a6; padding:3px; background-color:#eeeeee}
.extraVarsList  td .text { border:1px solid; border-color:#a6a6a6 #d8d8d8 #d8d8d8 #a6a6a6; padding:3px; }
.extraVarsList  td .textarea { border:1px solid; border-color:#a6a6a6 #d8d8d8 #d8d8d8 #a6a6a6; padding:3px; }
.extraVarsList  td .select { border:1px solid; border-color:#a6a6a6 #d8d8d8 #d8d8d8 #a6a6a6; padding:1px; }
.mandatory_field  td .text { border:1px solid; border-color:#a6a6a6 #d8d8d8 #d8d8d8 #a6a6a6; padding:3px; }
#comment_field  td .textarea { border:1px solid; border-color:#a6a6a6 #d8d8d8 #d8d8d8 #a6a6a6; padding:3px; }

#success_form h3{
	font-size:16px;
}

#mail_content ul{
	 list-style-type: none;
	 padding:0;
}

#mail_content ul li{
	 list-style-type: none;
	 padding:0 0 3px 0;
}

#mail_content ul li .mail_var_title{
	 font-size:14px;
	 margin-right: 5px;
}