<?xml version="1.0" encoding="utf-8"?>
<module>
	<grants />
	<permissions>
		<permission action="dispContactAdminContactInfo" target="manager" />
		<permission action="dispContactAdminFormComps" target="manager" />
		<permission action="dispContactAdminContactAdditionSetup" target="manager" />
		<permission action="dispContactAdminContactAgreement" target="manager" />
		<permission action="procContactAdminInsertContact" target="manager" />
		<permission action="procContactAdminInsertTerm" target="manager" />

		<permission action="procContactSendEmail"/>
	</permissions>
	<actions>
		<action name="dispContactAdminContent" type="view" admin_index="true" />
		<action name="dispContactAdminContactInfo" type="view" />
		<action name="dispContactAdminInsertContact" type="view" setup_index="true" />
		<action name="dispContactAdminDeleteContact" type="view" />
		<action name="dispContactAdminFormComps" type="view" />
		<action name="dispContactAdminContactAdditionSetup" type="view" />
		<action name="dispContactAdminContactAgreement" type="view" />
		<action name="dispContactContent" type="view" index="true" />
		<action name="dispCompleteSendMail" type="view" />

		<action name="procContactAdminInsertContact" type="controller" ruleset="insertContact"/>
		<action name="procContactAdminInsertExtraVar" type="controller" ruleset="insertExtraVar"/>
		<action name="procContactAdminDeleteExtraVar" type="controller" />
		<action name="procContactAdminDeleteContact" type="controller" ruleset="deleteContact"/>
		<action name="procContactAdminInsertTerm" type="controller" ruleset="insertTerm"/>
		<action name="procContactSendEmail" type="controller" />

	</actions>
</module>
