.inputText_agree		{display: inline; width:90%;}
.title_agree			{font-size:12px; margin-right:6px;}
#term_write				{width:100%;}
#contact_extra_keys_table		{margin-top:2em;}
#fo_contact_term_write			{margin-top:2em;}


/* override admin.min.css */
.x .adminSearch fieldset{padding:6px 10px;vertical-align:text-top;}



.contact_search_form fieldset .inputTypeText{height:20px;border:1px solid #B7B7B7;}
.contact_search_form fieldset label{display:inline-block;vertical-align:top;padding:5px 5px 0 5px;}
.contact_search_form fieldset span.button{height:25px;overflow:hidden;}

div.table input.inputTypeText{width:280px;height:21px;line-height:21px;margin:2px 0;border:1px solid #b7b7b7;border-right-color:#e1e1e1;border-bottom-color:#e1e1e1;}
fieldset.tModify legend{display:none;}
fieldset.tModify dl{margin-bottom:20px;}


/* override admin.min.css 2011-11-23 */
.x .rowTable th, .x .rowTable td, .x .colTable th, .x .rowTable td, .x .crossTable th, .x .rowTable td{white-space: normal !important;}
